<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--是否启用Schema  1代表启用 0代表禁用-->
    <add key="Schema" value="0" />
    
  </appSettings>
  
  <connectionStrings>
    <!--SqlServer-->
    <!--<add name="reportWJW" connectionString="Data Source=192.168.20.32\SQL2008;Initial Catalog=FGDataReportWJW;User ID=sa;Password=P@ssw0rd;" providerName="SqlServer" />-->
    <add name="reportWJW" connectionString="Data Source=.;Initial Catalog=FGDataReportWJW;User ID=sa;Password=123456;" providerName="SqlServer" />

    <!--<add name="reportWJW" connectionString="Data Source=ORCL28;User Id=c##FGCDRPUB;Password=111;Integrated Security=no;" providerName="Oracle" />-->
  </connectionStrings>  
</configuration>

 
  